{% extends 'base.html' %}
{% load static %}


{% block title %}WorkPlace Base Element{% endblock %}

{% block content %}
<header class="masthead zf-bg-tertiary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'img/ZF_LOGOwhitepng.svg' %}" alt="ZF Logo" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">FIIB21 WorkPlace Base Element Tool</h1>
</header>
<h1>
    Template Homepage
</h1>
{% endblock %}